
h1{
  font-size: 34px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2em;
}

h2{
  font-size: 25px;
}
/*article{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}*/
table{
    border-collapse: collapse;
}
th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
thead{
  text-align: left;
}
tbody{
  text-align: left;
}
h4{
  text-align: left;
}
/*section > p{
  background-color: white;
  margin-top: 2em;
}*/
